[Unit]
Description=DOOM Clipboard Persistence
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-clip-persist --clipboard regular
Restart=on-failure

[Install]
WantedBy=graphical-session.target
