[Unit]
Description=Start Hyprland Wayland compositor
Documentation=man:uwsm(1)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=notify
ExecStart=/usr/bin/uwsm start hyprland.desktop
Restart=no
TimeoutStopSec=10
Environment=XDG_SESSION_TYPE=wayland
Environment=QT_QPA_PLATFORM=wayland
Environment=SDL_VIDEODRIVER=wayland
Environment=_JAVA_AWT_WM_NONREPARENTING=1

[Install]
WantedBy=graphical-session.target
